@import url("https://rsms.me/inter/inter.css");

@import "./components/TableOfContents/TableOfContents.css";
@import "./components/News/News.css";
@import "./components/Project/Project.css";
@import "./components/Course/Course.css";
@import "./components/Footer/footer.css";
@import "./components/Algorithm/Algorithm.css";
@import "./components/Carousel/Carousel.css";
@import "root.css";
@import "reset.css";
@import "header.css";
@import "table.css";
@import "footnotes.css";
@import "figure.css";

:root {
  /* Par défaut, on utilise la version classique (sécurité) */
  font-family: "Inter", sans-serif;

  /* On active les jolies liaisons entre les lettres */
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

/* 3. L'amélioration progressive (Le bonus moderne) */
@supports (font-variation-settings: normal) {
  :root {
    /* Si le navigateur est moderne, on bascule sur la version Variable */
    font-family: "InterVariable", sans-serif;
  }
}

html {
  font-size: 1.2rem;
}
